.wrapper {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-result {
    background-color: blueviolet;
    padding: 50px 70px;
    border-radius: 10px;
    color: white;
}

.result {
    align-items: center;
    justify-self: center;
}